[submodule "extern/sqlr"]
	path = extern/sqlr
	url = ../sqlr
[submodule "extern/jsonio"]
	path = extern/jsonio
	url = https://github.com/virtualmatador/jsonio
[submodule "extern/cli"]
	path = extern/cli
	url = https://github.com/virtualmatador/cli
